PORT=3000

# Connexion à la base MySQL (Railway)
DB_HOST=sakura.proxy.rlwy.net
DB_PORT=39599
DB_USER=root
DB_PASSWORD=EYfktFUSpfJxHRxtusWAwxbKFeGbFmrt
DB_NAME=railway

# JWT
JWT_SECRET=loremhkhdkshdkshdkhsdhskhdskhdkshkqdklhdklshqkldhskldhlkqhklhdklhq
JWT_EXPIRES_IN=7d
